@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: wheat;
  width: 100%;
  padding: 40px;
  height: 560px;
  box-sizing: border-box;
}

#footer_elements {
  display: flex;
  justify-content: space-between;
}

#left {
  margin-top: 35px;
  width: 360px;
  height: 420px;
  padding: 35px;
}

#left p {
  font-family: Rubik;
  font-size: 18px;
}

#links {
  display: flex;
  margin-top: 65px;
  height: 460px;
  width: 500px;
}

#links ul li {
  font-family: Rubik;
  list-style: none;
  font-size: 20px;
  margin-bottom: 10px;
}

#links ul li a {
  color: black;
  text-decoration: none;
}

.Firstlink {
  font-weight: bold;
  margin-bottom: 25px;
}
